:root {
    --color-primario: #611232;
    --color-primario-oscuro: #510f2a;
    --color-primario-claro: #ba326a;
    --color-secundario: #ffecf4;
    --color-fondo: #f8fafc;
    --color-texto: #f8fafc;
    --color-texto2: #1e293b;
    --color-borde: #e2e8f0;
    --color-blanco: #ffffff;
    --sombra-suave: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --sombra-mediana: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --radio-borde: 12px;
    --transicion-rapida: all 0.3s ease;
    --color-amarillo: #AF8334;
    --color-amarillo-oscuro: #776C4E;
    --color-amarillo-claro: #E1D094;
}